@import "./Resources/theme.scss";

.app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .side-bar {
        background-color: $black-light;
        height: 100vh;
        width: 20vw;
        border-left: 1px solid $white-dark;
    }

    .container {
        width: 100%;
        padding: 0;

        .information {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border-radius: $border-radius;
            margin: 10px;

            .viewer {
                color: $primary;
                font-size: $font-size-lg;
                margin: 10px;
                display: flex;
    
                div {
                    font-size: 20px;
                    margin: 5px;
                }
            }
    
            .title {
                font-size: $font-size-xl;
                color: $primary;
                text-align: center;
                padding: 10px;
            }
        }
    } 
}

.video-display-container {
    display: flex;
    width: 100%;
    background-color: $black;
    justify-content: center;
    border-bottom: 1px solid $gray;

    .video-display {
        height: 75vh;
    }
}