.app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .side-bar {
        background-color: #202020;
        height: 100vh;
        width: 20vw;
        border-left: 1px solid #4d4d4d;
    }

    .container {
        max-width: 50vw;

        .title {
            font-size: 38px;
            color: white;
            text-align: center;
            padding: 20px;
        }

        .video-player {
            width: 100%;
        }
    }   
}