@import "../Resources/theme.scss";

.video-list-container {    
    height: 100vh;

    .fps-slider-container {
        display: flex;
        justify-content: center;
        
        .slider {
            width: 75%;
        }
    }

    .storage-display {
        height: 5vh;
    }

    .camera-display {
        width: 100%;
        height: 15vh;
        cursor: pointer;
        background-color: $black;
        border: 1px solid $black;
    }

    .list-content {
        overflow-y: scroll;
        height: 75vh;
        display: flex;
        flex-direction: column;
        background-color: $gray-dark;

        .title {
            text-align: center;
            background-color: $black;
            color: $primary;
            padding: 5px;
            border-top: 1px solid $gray;
        }

        .selected {
            background-color: $black !important;
        }
    }

    .list-mode-container {
        height: 5vh;
        background-color: $gray-dark;
        border-top: 1px solid $gray;
        display: flex;
        justify-content: left;

        button {
            background-color: $gray;
            height: 100%;
            width: 100%;
            border-radius: 0;
            border-right: 1px solid $gray-dark;

            &:last-child {
                border-right: 0;
            }
        }

        .active {
            background-color: $primary;
        }
    }

    .livefeed-container {
        max-height: 200px;

        .video-display {
            height: 200px;
        }
    }

    .camera-preview {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .interactive {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 100%;
            height: 100%;
            opacity: .2;

            &:hover {
                opacity: .7;
            }

            .display-eye {
                font-size: 10em;
            }
        }
    }
}