@import "../Resources/theme.scss";

.video-list-container {    
    height: 100vh;

    .fps-slider-container {
        display: flex;
        justify-content: center;
        
        .slider {
            width: 75%;
        }
    }

    .storage-display {
        height: 5vh;
    }

    .camera-display {
        width: 100%;
        height: 15vh;
        cursor: pointer;
        background-color: $black-dark;
        border: 1px solid $black-light;
    }

    .list-container {
        overflow-y: scroll;
        height: 80vh;
        display: flex;
        flex-direction: column;
        background-color: $gray-dark;

        .selected {
            background-color: $black-light !important;
        }
    }

    .livefeed-container {
        max-height: 200px;

        .video-display {
            height: 200px;
        }
    }

    .camera-preview {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .interactive {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 100%;
            height: 100%;
            opacity: .2;

            &:hover {
                opacity: .7;
            }

            .display-eye {
                font-size: 10em;
            }
        }
    }
}