@import "../Resources/theme.scss";

.container {
    margin: 0;
    padding: 5px 10px;;

    .date-container {

        .date-button {
            background-color: $primary;
            width: 100%;
            border-radius: 0;
            margin: 5px 0 0 0;
            border: 0;
            border-radius: $border-radius;
            text-align: left;
            display: flex;
            justify-content: space-between;

            &:hover {
                opacity: .65;
                color: $white;
            }
        }
    
        .time-button-container {
    
            .time-button {
                border-bottom: 1px solid $gray;
                padding: 10px;
                margin: 0 5px 0 10px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                &:hover {
                    background-color: $gray;
                }
            }
    
            .time-button:last-child {
                border: 0;
            }
        }
    }
}



.video-button {
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    
    &:hover {
        background-color: $black-dark;
    }

    .main-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        height: 50px;

        .video-option {
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100px;

            a {
                color: inherit;
            }

            &:nth-child(3) {
                color: $blue;
                &:hover {
                    background-color: $green-dark;
                }
            }

            &:nth-child(2) {
                border-right: 1px solid $white-dark;
                border-left: 1px solid $white-dark;
                color: $blue;
                &:hover {
                    background-color: $blue-light;
                }
            }
        }   

        .date {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
} 