

.video-list-container {    
    height: 100vh;

    .fps-slider-container {
        display: flex;
        justify-content: center;
        
        .slider {
            width: 75%;
        }
    }

    .storage-display {
        height: 5vh;
    }

    .camera-display {
        width: 100%;
        height: 15vh;
        cursor: pointer;
        background-color: black;
        border: 1px #3e3e3e solid;
    }

    .list-container {
        overflow-y: scroll;
        height: 80vh;
        display: flex;
        flex-direction: column;

        .video-button {
            background-color: #313131;
            border: 1px solid black;
            margin: 5px;
            cursor: pointer;
            color: #ddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            
            &:first-child {
                border: 2px solid #590000
            }

            &:hover {
                background-color: #4a4a4a;
            }

            .main-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;
                height: 50px;

                .video-option {
                    font-size: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100px;

                    a {
                        color: inherit;
                    }

                    &:nth-child(1) {
                        background-color: green;
                        &:hover {
                            background-color: darkgreen;
                        }
                    }

                    &:nth-child(2) {
                        background-color: blue;
                        &:hover {
                            background-color: darkblue;
                        }
                    }
                }   

                .date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }
            }
        
            .blinking-circle {
                width: 20px;
                height: 20px;
                background-color: #9d0000;
                border-radius: 50%;
                animation: blink 3s linear infinite;
            }
        } 
        .selected {
            background-color: #1a1a1a !important;
        }
    }
}

@keyframes blink {
    0% { opacity: 0 }

    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }